<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @paciente.nome %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @paciente.data_nascimento %>
</p>

<p>
  <strong>Date:</strong>
  <%= @paciente.date %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @paciente.rg %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @paciente.telefone %>
</p>

<p>
  <strong>Convenio:</strong>
  <%= @paciente.convenio %>
</p>

<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
