<!DOCTYPE html>
<html>
  <head>
    <title>Querydoctorview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to "Convenios", convenios_path %> |
      <%= link_to "Especialidades", especialidades_path %> |
      <%= link_to "Medicos", medicos_path %> |
      <%= link_to "Pacientes", pacientes_path %>
    </div>
    <%= yield %>
  </body>
</html>